.tab
{
    -fx-background-color : #18334b;
    -fx-pref-width : 310;
    -fx-pref-height : 60;
}

.tab:hover
{
    -fx-background-color : #2e4e69;
}

.tab-header-background
{
    -fx-background-color : #18334b;
}

.jfx-button:hover
{
    -fx-background-color: #234a65;
    -fx-text-fill: white;
}

#addPhoto
{
    -fx-background-color: #18334b;
}
#addPhoto:hover
{
    -fx-background-color: #2e4e69;
}

#addPhoto1
{
    -fx-background-color: #18334b;
}
#addPhoto1:hover
{
    -fx-background-color: #2e4e69;
}