.jfx-button
{
    -fx-border-radius: 30;
    -fx-border-color: #6e6a6a;
    -fx-background-color: white;
    -fx-background-radius: 30;
    -fx-text-fill: #563e3e;
}

.jfx-button:hover
{
    -fx-border-radius: 30;
    -fx-border-color: #6e6a6a;
    -fx-background-color: #e7e7e7;
    -fx-background-radius: 30;
    -fx-text-fill: #563e3e;
}